/* General */
:root {
  --bg-main: #1e1e1e;
  --bg-panel: #252526;
  --bg-input: #000;
  --border-color: #454545;

  --text-main: #d4d4d4;
  --text-muted: #858585;

  --accent-blue: #0e639c;
  --accent-blue-hover: #1177bb;
  --accent-green: #4ec9b0;
  --accent-orange: #ce9178;

  --syntax-blue: #569cd6;
  --syntax-pink: #c586c0;

  --font-mono: Consolas, 'Courier New', monospace;
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--bg-panel);
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 40px;
}

/* Text Content */
.page-title {
  font-family: var(--font-mono);
  font-size: 1.8rem;
  font-weight: normal;
  margin: 0;
}

.page-subtitle {
  font-family: var(--font-mono);
  font-size: 1.4rem;
  margin: 0;
  margin-top: 10px;
}

.card-subtitle {
  font-family: var(--font-mono);
  font-size: 1rem;
}

/* Layout */
.layout-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.page-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.page-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  font-family: var(--font-mono);
  color: var(--accent-green);
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: var(--text-main);
  text-decoration: none;
  font-size: 1rem;
  border-bottom: 2px solid transparent;
  padding-bottom: 4px;
  transition: all 0.2s ease-in-out;
}

.nav-links a:hover {
  border-bottom-color: var(--accent-blue);
  transform: translateY(-2px);
}

.nav-links a.active {
  border-bottom-color: var(--accent-blue);
}

/* Cards */
.card {
  background-color: var(--bg-panel);
  border: 1.5px solid var(--border-color);
  border-radius: 8px;
  padding: 35px 20px;
}

.card--green {
  background-color: rgba(78, 201, 176, 0.1);
  border-left: 4px solid var(--accent-green);
}

/* Buttons */
.btn {
  font-family: var(--font-mono);
  font-size: 1rem;
  font-weight: 600;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  width: 100%;
  text-align: center;
  margin-bottom: 12px;

  transition: all 0.2s ease-in-out;
}

.btn:hover {
  transform: translateY(-2px);
}

.btn--blue {
  background-color: var(--accent-blue);
  color: white;
}

.btn--dark {
  background-color: var(--bg-main);
  color: white;
}

/* Lists */
.list-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-panel);
  border: 1.5px solid var(--border-color);
  padding: 15px;
  border-radius: 8px;
  font-family: var(--font-mono);
  font-size: 1rem;
}

.list-item:hover {
  background-color: var(--border-color);
}

/* Colours */
.--accent-blue {
  color: var(--accent-blue);
}

.--green {
  color: var(--accent-green);
}

.--orange {
  color: var(--accent-orange);
}

.--blue {
  color: var(--syntax-blue);
}

.--pink {
  color: var(--syntax-pink);
}
